<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrym.rpc.auth.dao.mapper.VersionMapper">

    <!--为dao接口方法提供sql语句配置 -->
    <select id="findAllVersion" resultType="com.hrym.rpc.app.dao.model.task.VersionInfo">
        SELECT
        *
        FROM
        t_app_version
    </select>

    <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>